<%- include('modules/header') %>
<%- include('modules/nav') %>
<div class="container">
    <button id="lib" class="button" onclick="login()">Log In With Discord</button>
</div>
<%- include('modules/footer') %>